body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#Mesajlasma{
  height: 600px;
  overflow-y: auto;
}
.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}
.kullaniciadi{
  font-size: 20px ;
}
.chatbox{
    display:none;
}
ul {
  list-style-type: none;
}